/* Write your code here. */

* {
  box-sizing: border-box;
  margin-top: 0px;
}

.app-container {
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
  height: 100%;
  background-size: cover;
}

.ul-emoji {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 40px 60px 40px 150px;
}
