/* Write your code here. */

.navbar-container {
  background-color: #ffffff33;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 10px 40px;
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.emoji-logo {
  height: 50px;
  width: 50px;
}

.logo-name {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  padding-top: 16px;
}

.score-container {
  display: flex;
  margin-top: 15px;
}

.score {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  margin-right: 40px;
}

.top-score {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  margin-right: 60px;
}
